numpy
pandas
matplotlib
tqdm

# Audio processing
librosa
scipy 
soundfile 

# Deep Learning
torch
tensorflow
snntorch

# Data augmentation
scikit-learn

# Jupyter & Utilities
ipykernel
jupyter
notebook
torchinfo

# Visualization
scikit-image
