numpy
pandas
matplotlib
seaborn
tqdm

# Audio processing
librosa
pydub
scipy 
soundfile 

# Deep Learning
torch
torchaudio
tensorflow
snntorch

# Data augmentation
scikit-learn

# Jupyter & Utilities
ipykernel
jupyter
notebook
torchinfo

# Visualization
scikit-image
